@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
}
body ::before {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
p{
    font-size: 1.125rem;
}
h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.container{
    width:60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title{
    margin:15px;
    color: black;
}
#description{
    margin:10px;
    font-size:18px;
    color: black;
}
#survey-form{
    background-color:rgba(64, 11, 64, 0.5);
    padding:25px;
    width:100%;
    border-radius: 5px;
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;

}
.form-group > label{
    display:block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size:18px;
}
.form-group > input{
    display:block;
    width:100%;
    padding:5px;
    border-radius: 5px;
    outline:none;
    border:1px solid white;
    font-size:17px;
    color:gray;
}
.form-group > p{
    font-size:18px;
    margin-top:15px;
    width:100%;
}
#dropdown{
    width:100%;
    padding:5px;
    border-radius: 5px;
    outline:none;
    border:1px solid white;
}
label {
    display: flex;
    align-items: center;
}
.input-radio ,
.iput-checkbox {
    display: inline-block;
    margin-right: 0.6rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.635rem;
    resize: vertical;
    outline: none;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    cursor: pointer;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    padding: 0.75rem;
}